.motion-video{
    width: 560px;
    height: 415px;
    
  }

  .motion-img{
    width: 550px;
    height: 45vh;
  }

/* class="col-md-6 float-md-end mb-3 ms-md-3" */

@media(max-width:768px){
    .motion-video{
      width: 380px;
      height: 35vh;
      margin-left: 40px;
    }

    .motion-img{
      width: 390px;
      height: 30vh;
      margin-left: 38px;
    }
  }