/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .branding-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.671) ), url('../../components/2d/img/elonatech-uiux-for-emeka_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    color: #f0f0f0;
  } */
/* 
 .rounded{
  border-radius: 2em;
 } */
