body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }

.video-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.671) ), url('../../components/Video/img/service-banner-26_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    color: #f0f0f0;
}

.video-img{
  width: 550px;
  height: 40vh;
}
.video-img-1{
  height: 40vh;
  width: 500px;
}

.image-icon{
  width: 80px;
  border-radius: 50%;
  margin-left:20px ;
  margin-top:20px ;
}


@media(max-width:768px){
  .video-img{
    width: 320px;
    height: 25vh;
  }
}


.text {
  max-width: 600px;
  max-height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.1rem;
}
.text-btn {
  appearance: none;
  background-color:#014e78;
  color:white;
  padding: 0.5em;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}
.text-btn::before {
  content: "Read More";
  text-transform: capitalize;
}
.text-btn:checked::before {
  content: "Read Less";
}
.text:has(+ .text-btn:checked) {
  max-height: none;
}