.remote-background{
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../components/Remote/img/young-man-using-headphones-listen-music-while-working-from-home-office-computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;
    color: #f0f0f0;
  }

  .remote-text{
    text-align: left;
    width: 50%;
  }
  .photo-icon{
    width: 80px;
    /* border-radius: 50%; */
    margin-left:20px ;
    margin-top:20px ;
  }

  @media screen and (max-width:768px){
    .remote-text{
        text-align: center;
        width: 100%;
      }
      .remote-text p{
        text-align: center;
      }
  }