.vid-background{
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../components/VideoConferencing/img/young-man-with-toothache-seeking-medical-stomatologist-health-advice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;
    color: #f0f0f0;
}