body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .background{
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../components/graphic/img/elonatech-graphics4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    position: relative;
    color: #f0f0f0;
  }

  .projects-img{
    background-image: url('../../components/graphic/img/colorful-266993_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    position: relative;
    color: #f0f0f0;

  }

  /* card */
  .container-card{
    width: 100%;
    /* min-height: 50vh; */
    /* background-color: F9F8F3; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
  }

  .content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
  }

  .content-section .card-body{
    flex: 1;
    margin: 20px 20px;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2); */
  }
   .content-section .card-body h5{
    margin: 15px 0px;
    font-size: 28px;
    color: #000;
  }
@media screen and (max-width:768px) {
  .content-section{
    flex-direction: column;
  }
}


/* 
  .text-container{
    position: absolute;
    margin-top: 8rem ;
    margin-left: 12rem;
  } */

  /* .text{
    text-align: start;
   font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 20px;

  } */

  .bg-primary{
    width: 35%;
    border-radius: 50%;
    margin: 0 auto;

   }

   .card-border{
    padding: 1.5em .5em .5em;
    text-align: center;

   }

   .branding-title{
    display: flex;
    justify-content: center;
   }

   .img-card{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 20px;
    justify-content: center;

   }

   .elona-img{
    width: 350px;
    height: 250px;
    padding: 5px;

  }

  @media(max-width:768px) {
    .background{
      min-height: 40vh;
    }
    .text{
      font-size: calc(1rem + 3.3vw);
      font-weight: 400;
    }
    .text-container{
      position: absolute;
      margin-top: 4rem ;
      margin-left: 0;
      padding: 20px;
    }

    .elona-img{
      width: 300px;
      height: 200px;
      padding: 5px;

    }


  }


  /* WHAT WE DO */
  .text-1{
    font-weight: bolder;
    font-size: 2rem;

  }

  .services__item__icon{
    border: 5px solid #2b5592;
    width: 70px;
    padding: 5px;
    margin: 1rem 0 ;
  }
  .logo-icon1{
    padding-right: 7px;
  }
  .logo-icon2{
    padding-left: 8px;
  }
  .logo-icon3{
    padding-left: 8px;
   
  }

  .row-1{
    margin: 2rem 0;
  }
  .icon{
   margin-left:2px;
  }

  .our-latest-project{
    /* padding: 6rem 4rem; */
    background-color: #2b5592;
  }

  .text-content-2{
    text-align: start;
    padding: 3rem 6rem;
  }


  .project{
  font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    color: #020202;
  }

  .line{
    border-top: 2px solid #000; /* Adjust the thickness and color */
     width: 100px;
    margin: 20px 0;
  }



  @media(max-width:768px) {
    .text-content-2{

      padding: 0;
    }

    .row{
      margin: 0;
    }
  }

